<!--Domingo Novello - 301017413 - October 9, 2020 -->
<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>

<!-- Main Content-->
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
              <h1><%= title %></h1>
              <br>
              <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class>
                    <th class="text-center ">Name</th>
                    <th class="text-center ">Phone #</th>
                    <th class="text-center ">Email</th>
                    <th class="text-center ">Notes</th>
                </tr>

                <!-- Repeatable Template Row-->

                <% for(let count = 0; count < ContactList.length; count++) {%>
                    <tr >
                    <td class="text center col"><%= ContactList[count].name %></td>
                    <td class="text center col"><%= ContactList[count].phone %></td>
                    <td class="text center col"><%= ContactList[count].email %></td>
                    <td class="text center col"><%= ContactList[count].notes %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  

</main>

<%- include partials/bottom_nav.ejs%>


<%- include partials/footer.ejs%>
    