<!--Domingo Novello - 301017413 - October 9, 2020 -->
<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>


  <!-- Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-5"><%= title %> Page</h1>
    <div class="container-fluid bg-19 text-center"> 
    <div class="row">
              <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, cons</p>
                
              </div>
              <div class="col-sm-4"> 
                  
                <p>Lorem ipsum dolor </p>
              </div>
              <div class="col-sm-4"> 
                <p>Lorem ipsum dolor</p>
  </div>

</main>
  
<%- include partials/bottom_nav.ejs%>


<%- include partials/footer.ejs%>
    