<!--Domingo Novello - 301017413 - October 9, 2020 -->
<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>


  <!-- Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-5 "><%= title %></h1>
    <div class="container-fluid bg-19 "> 
    <div class="row">
              <div class="col-sm-4">
                <p> My name is <br>Domingo Novello <br>& I am currently in my 3rd semester in the Software Engineering 
                Technology program <br>@ Centennial College. </p>
                <p>I would like to learn to code and one day make (mobile) apps</p>
                <p>Resume available upon request</p>
                
              </div>
              <div class="col-sm-4"> 
                  <img class="me" src="Assets/images/Me.jpeg" alt="me">
                
              </div>
             

</main>
  
<%- include partials/bottom_nav.ejs%>


<%- include partials/footer.ejs%>
    