<!--Domingo Novello - 301017413 - October 9, 2020 -->
<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>


  <!-- Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-5"><%= title %></h1>
    <div class="container-fluid bg-19 text-center"> 
    <div class="row">
            <div class="col-sm-4">
             
                <p>Phone number:<br>647 200 0771</p>
                <p>email: dnovell1@my.<br>centennialcollege.ca
            </div>
            
            <div class="col-sm-4"> Feel free to message me anytime, day or night!
            </div>
            
<!-- contact form -->
            <div class="col-sm-4"> 
            <div class="form-style">
            <form action="mailto:someone@example.com" method="post" enctype="text/plain">
            <input type="text" name="Name" placeholder="Your Name" required/>
            <input type="email" name="email" placeholder="Email Address" required/>
            <textarea name="message" placeholder="Type your Message" required></textarea>
            <input type="submit" value="Send" />
            </form>
            </div>
            </div>
</div>
</main>
  
<%- include partials/bottom_nav.ejs%>


<%- include partials/footer.ejs%>
    