<!--Domingo Novello - 301017413 - October 9, 2020 -->
<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>


  <!-- Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-5">Inspirational <%= title %></h1>
    <div class="container-fluid bg-19 text-center"> 
    <div class="row">
              <div class="col-sm-4">

                <img class="game" src="Assets/images/Phasmophobia.png" alt="Phasmophobia">
                <p>One of the hottest new games on Steam was created by only 1 person. <br><hr> Maybe one day I will
                know enough to do something like this myselfS</p>
              </div>
              <div class="col-sm-4"> 
                <img class="uielder" src="Assets/images/oldphone.png" alt="UI for elderly">
                <p>Creating a UI that will be suitable for the increasingly growing elderly population.
                <br><hr> Designing something that can be integrated much like a "kids mode" for mobile devices for
                the elderly</p>
              </div>
              <div class="col-sm-4"> 
              <img class="pi" src="Assets/images/raspberry-pi.jpg" alt="raspberry_pi">
                <p>In the future (Covid "gone") I would love to build a gaming cabinet for multiplayer games 
                both old and new featuring the Raspberry Pi <br><hr> It would certainly be a hit!</p>
  </div>

</main>
  
<%- include partials/bottom_nav.ejs%>


<%- include partials/footer.ejs%>
    