<!--Domingo Novello - 301017413 - October 9, 2020 -->
<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>


  <!-- Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-5"><%= title %> </h1>
    <div class="container-fluid bg-19 text-center"> 
    <div class="row">
              
              <img class="coding" src="Assets/images/coding.jpg" alt="programming">
                <p>I am still rather new to coding. I hope to be able to offer programming services in the future.
                Perhaps with <br>some practice I can learn how to design very sleek web pages.</p>
                
              

</main>
  
<%- include partials/bottom_nav.ejs%>


<%- include partials/footer.ejs%>
    